### Postgres ###
data/*

### Python ###
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit tests / coverage reports
.coverage
.coverage.*
htmlcov/

# QR generated images
images

.vscode/